# Database Configuration (MySQL)
DATABASE_URL="mysql://username:password@localhost:3306/database_name"

# JWT Auth
JWT_SECRET="your-super-secret-at-least-32-characters-long"

# Resend API (Email)
RESEND_API_KEY="re_..."

# Next.js
NODE_ENV="development"
NEXT_PUBLIC_APP_URL="http://localhost:3000"

# Main Domains (used for multitenancy logic)
MAIN_DOMAIN="localhost"
ADMIN_DOMAIN="admin.westburylaw.co.uk"
PORTAL_DOMAIN="portal.westburylaw.co.uk"
